@import "./extend";
.experience {
	position: absolute;
	width: 90%;
	height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 10;

	.title {
		top: 70%;
	}
	.line::before {
		height: 25%;
	}
	.main {
		position: absolute;
		width: 50%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		display: flex;
		justify-content: center;
		flex-direction: column;

		.table {
			display: flex;

			@for $i from 1 through 2 {
				&:nth-child(#{$i}) {
					$delay: calc(#{($i - 1) * 0.3s} + var(--animation-delay));
					$p-delay: calc(#{$delay} + 0.8s);
					$year-delay: calc(#{$p-delay});
					$title-delay: calc(#{$year-delay} + 0.3s);
					$description-delay: calc(#{$title-delay} + 0.3s);

					.inside1 .backColor {
						animation-delay: $delay;
						p {
							animation-delay: $p-delay;
						}
					}
					.inside2 {
						.year {
							animation-delay: $year-delay;
						}
						.job,
						.school {
							animation-delay: $title-delay;
						}
						.description {
							animation-delay: $description-delay;
						}
					}
				}
			}

			.inside1 {
				font-weight: bold;
				white-space: nowrap;

				.backColor {
					position: relative;
					&::before {
						z-index: -1;

						content: "";
						height: 120%;
						width: 120%;
						position: absolute;
						left: 50%;
						transform: translateX(-80%);
						top: -20%;
						background-color: var(--primary-color1);
					}

					animation: backColor 1s forwards;
					animation-timing-function: cubic-bezier(1, 0.11, 0.3, 0.91);

					transform: translateX(-100%) scaleY(0);
					opacity: 0;

					p {
						animation: title-appear 0.5s forwards;
						animation-timing-function: cubic-bezier(0.98, 0.14, 0.38, 1.29);

						opacity: 0;
						transform: translateY(-100%);
					}
					@keyframes title-appear {
						100% {
							opacity: 1;
							transform: translateY(0);
						}
					}
				}
				@keyframes backColor {
					50% {
						opacity: 1;
					}
					100% {
						opacity: 1;
						transform: translate(0, 0) scaleY(1);
					}
				}

				p {
					filter: drop-shadow(1px 1px 5px black);
					color: var(--word-color);
				}
			}
			.inside2 {
				margin-left: 5%;
				font-weight: bold;
				p {
					margin-bottom: 1%;
				}
				.description {
					margin-top: 4%;
					font-weight: 300;
					font-size: 1.5rem;
				}
				.year,
				.job,
				.school {
					position: relative;
					transform: translateX(20%);
					animation: year 1s forwards;
					animation-timing-function: cubic-bezier(0.41, 0.24, 0.3, 1.2);
					opacity: 0;
					@keyframes year {
						100% {
							transform: translateX(0);
							opacity: 1;
						}
					}
				}
				.description {
					position: relative;
					transform: translateY(50%);
					animation: descriptionE 1s forwards;
					animation-timing-function: cubic-bezier(0.94, 0.1, 0.3, 0.92);
					opacity: 0;

					@keyframes descriptionE {
						100% {
							transform: translateY(0);
							opacity: 1;
						}
					}
				}
			}
			&:last-child {
				margin-top: 10%;
			}
		}

		p {
			font-size: 2rem;
			letter-spacing: 0.1rem;
			line-height: 3rem;
		}
		p:not(.secondary-color) {
			color: var(--word-color);
		}
	}
}

@media (max-width: 850px) {
	.experience {
		overflow-x: hidden;
		.title {
			top: 0;
		}
		&.content .main {
			padding-top: 0;
			.table {
				flex-direction: column;

				.inside1 {
					text-align: center;
					margin: 5% 0 8%;

					p {
						font-size: 2.8rem;
					}
				}
				.inside2 {
					display: inline-flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;

					margin-left: 0;
					padding-bottom: 5%;
					margin: 0 calc(min(10%, 8vw));
				}

				&:nth-child(2) {
					.inside1 {
						.backColor {
							transform: translateX(100%);
							&::before {
								transform: translateX(-20%);
							}
						}
					}
				}
			}
		}
	}
}
