@import "./extend";

//ナビ　ハンバーガーメニューサイズ
$wh: 40px;
// メニューの上下横線の幅を割る数字
$divide: 5;

.nav-top {
	z-index: 120;
	position: sticky;
	top: 0;
	left: 90%;
	height: calc(clamp(50px, 4vw, 100px));
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;

	.top-side {
		z-index: 20;

		height: 100%;
		display: inline-flex;
		align-items: center;
		justify-content: flex-end;

		li {
			color: var(--word-color);
			font-size: 0.8rem;
			margin-right: 3rem;
			cursor: pointer;
			$transition-a: transform 0.5s;

			.page {
				position: relative;
				transition: $transition-a;

				&.active::before {
					position: absolute;
					content: "";
					height: calc(clamp(1px, 1%, 2px));
					width: 100%;
					background-color: var(--primary-color1);
					bottom: -15%;
				}

				&::after {
					position: absolute;
					left: 50%;
					top: 50%;
					content: "";

					height: 1px;
					width: 100%;
					padding: 0 20%;
					background-color: var(--secondary-color1);
					transition: $transition-a;
					transform: translate(-50%, -50%) scaleX(0);
				}

				.link-width {
					opacity: 0;
				}

				span:not(.link-width) {
					transition: 0.5s;
					@extend %center;

					&:nth-child(2) {
						background-image: linear-gradient(to bottom, var(--word-color) 51%, transparent 49%, transparent);

						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}

					&:nth-child(3) {
						background-image: linear-gradient(to top, var(--word-color) 51%, transparent 49%);
						-webkit-background-clip: text;
						background-size: 100%;
						-webkit-text-fill-color: transparent;
					}
				}
			}
			&:hover {
				.page {
					span:not(.link-width) {
						transition-delay: $transition-a - 0.2s;
						&:nth-child(2) {
							left: 40%;
						}

						&:nth-child(3) {
							left: 60%;
						}
					}
					&::after {
						transform: translate(-50%, -50%) scaleX(1);
					}
				}
			}
		}
	}
	.nav-button {
		visibility: hidden;

		z-index: 20;

		position: absolute;
		top: 0;
		right: 0;
		height: $wh;
		width: $wh;
		//box-shadow: 1px 1px 5px var(--background-color1);

		cursor: pointer;
		border-radius: 5%;
		margin-right: 5px;
		margin-top: 5px;

		.bar {
			position: absolute;
			width: 80%;
			height: 5%;

			inset: 0;
			margin: auto;
			$bColor: var(--light-color);
			background-color: $bColor;

			$t-bezier: cubic-bezier(1, 0.14, 0.52, 0.85);
			transition: transform 0.2s $t-bezier, width 0.3s;

			&::before,
			&::after {
				content: "";
				position: absolute;
				height: 100%;
				width: 50%;

				background-color: $bColor;

				transition: width 0.2s cubic-bezier(0.2, 0.93, 0.66, 0.9), transform 0.2s $t-bezier;
			}
			&::before {
				transform: translateY(#{$wh / $divide * -1});
				left: 0;
			}
			&::after {
				transform: translateY(#{$wh / $divide});
				right: 0;
			}
		}
	}

	&.active {
		.bar {
			width: 50%;
			transform: rotate(45deg);

			&::before,
			&::after {
				width: 100%;
			}
			&::before {
				transform: rotate(-90deg);
			}
			&::after {
				transform: rotate(-90deg);
			}
		}
	}
}
@media (max-width: 850px) {
	.nav-top {
		position: fixed;
		display: flex;
		height: auto;
		width: 100%;

		left: 0;

		$menu-height: #{$wh * 1.25};

		.nav-button {
			visibility: visible;
		}
		.top-side {
			position: absolute;
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			padding: $menu-height 0 calc(#{$menu-height} / 2);
			background-color: var(--background-color4);

			top: 0;
			transform: translateY(-100%);
			transition: transform 0.3s ease-in-out;
			animation: 0.5s opacity forwards;
			animation-delay: 0.5s;
			opacity: 0;
			@keyframes opacity {
				from {
				}
				to {
					opacity: 1;
				}
			}
			li {
				width: 100%;
				height: 55px;

				display: flex;
				justify-content: center;
				align-items: center;

				font-size: 2rem;

				margin-right: 0;

				.page {
				}
				&:hover {
					background-color: var(--background-color2);
				}
			}
		}
		&.active {
			.top-side {
				transform: translateY(0);
			}
		}
	}
}
