ul {
	z-index: 110;
	&.right-side {
		position: sticky;

		display: inline-flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;

		top: 50%;
		transform: translateY(-50%);
		margin-right: 2%;
		left: 100%;

		li {
			display: inline-block;

			margin: 70% 0;
			padding: calc(clamp(3.5px, 0.3vw, 6px));
			border-radius: 50%;
			box-shadow: inset 0px 0px 2px var(--light-color);
			background-color: var(--background-color2);

			cursor: pointer;
			&.active {
				background-color: var(--primary-color1);
			}
		}
		.back-page,
		.next-page {
		}
	}
}

@media (max-width: 850px) {
	ul {
		&.right-side {
			position: fixed;
			//left: 96%;
			top: auto;
			left: 50%;
			transform: translate(-50%, 0);
			bottom: 0;

			flex-direction: row;
			justify-content: center;
			align-items: center;

			background-color: var(--background-color2);
			box-shadow: 0 -1px 3px var(--background-color3);

			width: 100%;
			height: 50px;
			li {
				margin: 0 10px;
				position: relative;

				&::before {
					z-index: -1;
					content: "";

					position: absolute;

					height: 50px;
					width: 400%;

					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
			.back-page,
			.next-page {
				position: relative;
				$wh: calc(clamp(10px, 2vw, 50px));

				padding: $wh;

				cursor: pointer;
				margin: 0 5px;
				span {
					position: absolute;
					left: 50%;
					top: 50%;

					width: 50%;
					height: 50%;

					border-left: 1px solid var(--light-color);
					border-bottom: 1px solid var(--light-color);
				}

				&::before {
					content: "";
					position: absolute;
					inset: 0;

					width: 100%;
					height: 100%;
					opacity: 0;

					border: solid 0.5px var(--background-color3);
					border-radius: 50%;
				}

				&:hover::before,
				&.active::before {
					animation: wave 1.2s linear infinite;
					@keyframes wave {
						0% {
							opacity: 0;
							transform: scale(0);
						}
						50% {
							opacity: 1;
							transform: scale(1.2);
						}
						100% {
							transform: scale(1.5);
							opacity: 0;
						}
					}
				}
				&::after {
					z-index: -1;
					content: "";

					position: absolute;

					height: 50px;
					width: 100%;

					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
			.back-page {
				span {
					transform: translate(-20%, -45%) rotate(45deg);
				}
			}
			.next-page {
				span {
					transform: translate(-70%, -45%) rotate(-135deg);
				}
			}
		}
	}
}
