@import "./extend";
.portfolio {
	position: absolute;
	width: 90%;
	height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 10;

	.title {
		top: 60%;
	}
	.line::before {
		height: 28%;
	}

	.main {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		.file {
			position: relative;
			width: 30%;
			height: 100%;

			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			%before-fixed {
				position: absolute;
				content: "";
				width: 100%;
				height: 100%;
			}
			&.product-1 {
				.img::before {
					@extend %before-fixed;
					background-image: url("/src/images/Movight.png");
				}
			}
			&.product-2 {
				flex-direction: column-reverse;
				.img {
					filter: grayscale(100);
					transition: filter 0.5s;

					&:hover {
						filter: grayscale(0);
					}
					&::before {
						@extend %before-fixed;
						background-image: url("/src/images/Minesweeper.png");
					}
				}
			}

			.img {
				position: relative;
				display: block;
				width: 70%;
				padding-bottom: 70%;
				border-radius: 2%;
				box-shadow: 3px 3px 10px var(--background-color1);

				cursor: pointer;
				overflow: hidden;

				animation: img 1s forwards;
				animation-timing-function: cubic-bezier(0.74, 0.22, 0.19, 0.92);

				transform: scale(0);
				opacity: 0;

				@keyframes img {
					100% {
						transform: scale(1);
						opacity: 1;
					}
				}

				.product-title {
					position: absolute;
					left: 0;

					width: 90%;
					padding: 5% 0;

					text-align: center;
					border-radius: 5px;

					top: 5%;

					font-size: 1.5rem;
					font-weight: bold;

					color: var(--word-color);
					background-color: var(--background-color1);

					transition: transform 0.5s, left 0.5s cubic-bezier(0.62, 0.16, 0.07, 1.44);

					transform: translateX(-95%);
				}

				&:hover {
					.product-title {
						left: 50%;
						transform: translateX(-50%);
					}
					&::before {
						transform: scale(1.1);
					}
				}

				&::before {
					background-size: cover;
					background-repeat: no-repeat;
					transform: scale(1);
					transition: 0.3s;
				}
			}

			.under-line {
				position: relative;
				width: 72%;
				height: 0.5%;
				background-color: var(--primary-color1);
				margin: 4% 0;
				p {
					position: absolute;
					left: 50%;
					transform: translate(-50%, -50%);
					top: 50%;
					color: var(--word-color);
					font-weight: bold;
					font-size: 1.5rem;
					white-space: nowrap;
				}

				animation: under-line 1s forwards;
				animation-timing-function: cubic-bezier(0.66, 0.14, 0, 0.94);
				transform: scaleX(0);
				opacity: 0;
			}
			@keyframes under-line {
				0% {
					opacity: 0;
				}
				50% {
					opacity: 1;
				}
				100% {
					transform: scaleX(1);
					opacity: 1;
				}
			}
			@for $i from 1 through 2 {
				$line-delay: calc(#{($i - 1) * 0.2s} + var(--animation-delay));
				$img-delay: calc(#{$line-delay} + 0.3s);
				$file-delay: calc(#{$line-delay} - 0.2s);
				$github-delay: calc(#{$line-delay} + 0.2s);

				&:nth-child(#{$i}) {
					.img {
						animation-delay: $img-delay;
					}
					.under-line {
						animation-delay: $line-delay;
					}

					animation: file-appear 1s forwards;
					animation-timing-function: cubic-bezier(0.67, 0.22, 0.15, 0.88);

					@if $i % 2 == 0 {
						transform: translateY(10%);
						animation-delay: $file-delay;

						.under-line {
							transform-origin: left;
						}

						.github {
							transform: translateX(120%);
							animation-delay: $github-delay;
						}
					} @else {
						transform: translateY(-10%);
						animation-delay: $file-delay;

						.under-line {
							transform-origin: right;
						}

						.github {
							transform: translateX(-120%);
							animation-delay: $github-delay;
						}
					}
				}
				@keyframes file-appear {
					0% {
					}
					100% {
						transform: translateY(0);
					}
				}
			}

			/*.img:hover + .under-line {
				height: 10%;
			}
			*/
			.github {
				position: relative;
				margin: 3% 0;

				width: 12%;
				padding-bottom: 12%;

				transition: 0.5s;
				border-radius: 50%;
				animation: github-appear 1.8s forwards;

				background-color: var(--secondary-color1);

				animation-timing-function: cubic-bezier(0.93, -0.01, 0.13, 1.02);
				opacity: 0;
				.icon {
					position: absolute;

					width: 80%;
					height: 80%;
					display: block;

					inset: 0;
					margin: auto;

					border-radius: 50%;
					background-image: url("/src/images/github_icon.png");
					background-size: cover;
					background-repeat: no-repeat;

					background-color: var(--secondary-color1);

					transition: 0.3s;
				}
				&::before {
					content: "";
					position: absolute;
					inset: 0;
					margin: auto;

					border: solid 1px var(--light-color);
					border-radius: 50%;
					transform: scale(1.1);
					filter: blur(1px);
					opacity: 0;
				}
				@keyframes github-appear {
					0%,
					30% {
						opacity: 0;
					}

					100% {
						opacity: 1;
						transform: translateX(0);
					}
				}

				@extend %shadow;

				&:hover {
					.icon {
						transform: scale(1.1);
					}
					background-color: var(--primary-color1);
					&::before {
						animation: github 1s infinite;
					}
					@keyframes github {
						0% {
							transform: scale(1.1);
							opacity: 1;
						}
						100% {
							transform: scale(1.5);
							opacity: 0;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 850px) {
	.portfolio {
		.title {
			top: 0;
		}

		&.content .main {
			flex-direction: column;

			.file {
				width: calc(min(70%, 400px));
				margin-bottom: 10%;

				&.product-2 {
					flex-direction: column;
				}
				.under-line {
					height: 4px;
				}
			}
		}
	}
}
