@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.nav-top .top-side li .page span:not(.link-width), .wave-down::before, .wave-up::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio .main .file .github {
  box-shadow: 1px 1px 10px var(--background-color1);
}

.about .main .table .inside1 span:nth-child(3) .line-effect, .about .main .table .inside1 span:nth-child(2) .line-effect, .about .main .table .inside1 span:nth-child(1) .line-effect {
  content: "";
  position: absolute;
}

.wave-up,
.wave-down {
  z-index: 15;
  color: var(--white);
  position: fixed;
  width: clamp(4px, 2vw, 50px);
  height: clamp(4px, 2vw, 50px);
  left: 50%;
  transform: translateX(-50%);
  margin: 1% 0;
  border-radius: 50%;
}
.wave-up .to-up,
.wave-up .to-down,
.wave-down .to-up,
.wave-down .to-down {
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  width: clamp(4px, 2vw, 50px);
  height: clamp(4px, 2vw, 50px);
  border-radius: 50%;
  cursor: pointer;
}

@keyframes wave {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}
.wave-down::before, .wave-up::before {
  content: "";
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid var(--background-color3);
  border-radius: 50%;
  opacity: 0;
}

.wave-down .to-down::after, .wave-down .to-down::before, .wave-up .to-up::after, .wave-up .to-up::before {
  content: "";
  position: absolute;
  display: block;
  inset: 0;
  margin: auto;
  width: 50%;
  height: 1px;
  background-color: var(--light-color);
}

.wave-up {
  visibility: hidden;
}
.wave-up:hover::before {
  animation: wave 1.2s linear infinite;
}
.wave-up .to-up::before {
  transform: translateY(0) translateX(35%) rotate(45deg);
}
.wave-up .to-up::after {
  transform: translateY(0) translateX(-35%) rotate(-45deg);
}
.wave-up .to-up:hover::before {
  animation: to-up-before 1.2s linear infinite;
}
.wave-up .to-up:hover::after {
  animation: to-up-after 1.2s linear infinite;
}
.wave-up .to-up:hover::before, .wave-up .to-up:hover::after {
  animation-delay: 0.6s;
}
@keyframes to-up-before {
  0% {
    transform: translateY(0) translateX(35%) rotate(45deg);
  }
  50% {
    transform: translateY(-300%) translateX(35%) rotate(45deg);
  }
  51% {
    transform: translateY(300%) translateX(35%) rotate(45deg);
  }
  100% {
    transform: translateY(0) translateX(35%) rotate(45deg);
  }
}
@keyframes to-up-after {
  0% {
    transform: translateY(0) translateX(-35%) rotate(-45deg);
  }
  50% {
    transform: translateY(-300%) translateX(-35%) rotate(-45deg);
  }
  51% {
    transform: translateY(300%) translateX(-35%) rotate(-45deg);
  }
  100% {
    transform: translateY(0) translateX(-35%) rotate(-45deg);
  }
}

.wave-down:hover::before, .wave-down.active::before {
  animation: wave 1.2s linear infinite;
}
.wave-down .to-down::before {
  transform: translateX(35%) rotate(135deg);
}
.wave-down .to-down::after {
  transform: translateX(-35%) rotate(-135deg);
}
.wave-down .to-down:hover::before {
  animation: to-down-before 1.2s linear infinite;
}
.wave-down .to-down:hover::after {
  animation: to-down-after 1.2s linear infinite;
}
.wave-down .to-down:hover::before, .wave-down .to-down:hover::after {
  animation-delay: 0.6s;
}
@keyframes to-down-before {
  0% {
    transform: translateY(0) translateX(35%) rotate(135deg);
  }
  50% {
    transform: translateY(300%) translateX(35%) rotate(135deg);
  }
  51% {
    transform: translateY(-300%) translateX(35%) rotate(135deg);
  }
  100% {
    transform: translateY(0) translateX(35%) rotate(135deg);
  }
}
@keyframes to-down-after {
  0% {
    transform: translateY(0) translateX(-35%) rotate(-135deg);
  }
  50% {
    transform: translateY(300%) translateX(-35%) rotate(-135deg);
  }
  51% {
    transform: translateY(-300%) translateX(-35%) rotate(-135deg);
  }
  100% {
    transform: translateY(0) translateX(-35%) rotate(-135deg);
  }
}

@media (max-width: 850px) {
  .wave-up,
.wave-down {
    display: none !important;
  }
}
.nav-top .top-side li .page span:not(.link-width), .wave-up::before, .wave-down::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio .main .file .github {
  box-shadow: 1px 1px 10px var(--background-color1);
}

.about .main .table .inside1 span:nth-child(3) .line-effect, .about .main .table .inside1 span:nth-child(2) .line-effect, .about .main .table .inside1 span:nth-child(1) .line-effect {
  content: "";
  position: absolute;
}

.nav-top {
  z-index: 120;
  position: sticky;
  top: 0;
  left: 90%;
  height: clamp(50px, 4vw, 100px);
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-top .top-side {
  z-index: 20;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-top .top-side li {
  color: var(--word-color);
  font-size: 0.8rem;
  margin-right: 3rem;
  cursor: pointer;
}
.nav-top .top-side li .page {
  position: relative;
  transition: transform transform 0.5s;
}
.nav-top .top-side li .page.active::before {
  position: absolute;
  content: "";
  height: clamp(1px, 1%, 2px);
  width: 100%;
  background-color: var(--primary-color1);
  bottom: -15%;
}
.nav-top .top-side li .page::after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  height: 1px;
  width: 100%;
  padding: 0 20%;
  background-color: var(--secondary-color1);
  transition: transform 0.5s;
  transform: translate(-50%, -50%) scaleX(0);
}
.nav-top .top-side li .page .link-width {
  opacity: 0;
}
.nav-top .top-side li .page span:not(.link-width) {
  transition: 0.5s;
}
.nav-top .top-side li .page span:not(.link-width):nth-child(2) {
  background-image: linear-gradient(to bottom, var(--word-color) 51%, transparent 49%, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-top .top-side li .page span:not(.link-width):nth-child(3) {
  background-image: linear-gradient(to top, var(--word-color) 51%, transparent 49%);
  -webkit-background-clip: text;
  background-size: 100%;
  -webkit-text-fill-color: transparent;
}
.nav-top .top-side li:hover .page span:not(.link-width) {
  transition-delay: transform 0.5s-0.2s;
}
.nav-top .top-side li:hover .page span:not(.link-width):nth-child(2) {
  left: 40%;
}
.nav-top .top-side li:hover .page span:not(.link-width):nth-child(3) {
  left: 60%;
}
.nav-top .top-side li:hover .page::after {
  transform: translate(-50%, -50%) scaleX(1);
}
.nav-top .nav-button {
  visibility: hidden;
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 5%;
  margin-right: 5px;
  margin-top: 5px;
}
.nav-top .nav-button .bar {
  position: absolute;
  width: 80%;
  height: 5%;
  inset: 0;
  margin: auto;
  background-color: var(--light-color);
  transition: transform 0.2s cubic-bezier(1, 0.14, 0.52, 0.85), width 0.3s;
}
.nav-top .nav-button .bar::before, .nav-top .nav-button .bar::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: var(--light-color);
  transition: width 0.2s cubic-bezier(0.2, 0.93, 0.66, 0.9), transform 0.2s cubic-bezier(1, 0.14, 0.52, 0.85);
}
.nav-top .nav-button .bar::before {
  transform: translateY(-8px);
  left: 0;
}
.nav-top .nav-button .bar::after {
  transform: translateY(8px);
  right: 0;
}
.nav-top.active .bar {
  width: 50%;
  transform: rotate(45deg);
}
.nav-top.active .bar::before, .nav-top.active .bar::after {
  width: 100%;
}
.nav-top.active .bar::before {
  transform: rotate(-90deg);
}
.nav-top.active .bar::after {
  transform: rotate(-90deg);
}

@media (max-width: 850px) {
  .nav-top {
    position: fixed;
    display: flex;
    height: auto;
    width: 100%;
    left: 0;
  }
  .nav-top .nav-button {
    visibility: visible;
  }
  .nav-top .top-side {
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 calc(50px / 2);
    background-color: var(--background-color4);
    top: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    animation: 0.5s opacity forwards;
    animation-delay: 0.5s;
    opacity: 0;
  }
  @keyframes opacity {
    to {
      opacity: 1;
    }
  }
  .nav-top .top-side li {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-right: 0;
  }
  .nav-top .top-side li:hover {
    background-color: var(--background-color2);
  }
  .nav-top.active .top-side {
    transform: translateY(0);
  }
}
ul {
  z-index: 110;
}
ul.right-side {
  position: sticky;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 2%;
  left: 100%;
}
ul.right-side li {
  display: inline-block;
  margin: 70% 0;
  padding: clamp(3.5px, 0.3vw, 6px);
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px var(--light-color);
  background-color: var(--background-color2);
  cursor: pointer;
}
ul.right-side li.active {
  background-color: var(--primary-color1);
}
@media (max-width: 850px) {
  ul.right-side {
    position: fixed;
    top: auto;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color2);
    box-shadow: 0 -1px 3px var(--background-color3);
    width: 100%;
    height: 50px;
  }
  ul.right-side li {
    margin: 0 10px;
    position: relative;
  }
  ul.right-side li::before {
    z-index: -1;
    content: "";
    position: absolute;
    height: 50px;
    width: 400%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  ul.right-side .back-page,
ul.right-side .next-page {
    position: relative;
    padding: clamp(10px, 2vw, 50px);
    cursor: pointer;
    margin: 0 5px;
  }
  ul.right-side .back-page span,
ul.right-side .next-page span {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    border-left: 1px solid var(--light-color);
    border-bottom: 1px solid var(--light-color);
  }
  ul.right-side .back-page::before,
ul.right-side .next-page::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border: solid 0.5px var(--background-color3);
    border-radius: 50%;
  }
  ul.right-side .back-page:hover::before, ul.right-side .back-page.active::before,
ul.right-side .next-page:hover::before,
ul.right-side .next-page.active::before {
    animation: wave 1.2s linear infinite;
  }
  @keyframes wave {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }
  ul.right-side .back-page::after,
ul.right-side .next-page::after {
    z-index: -1;
    content: "";
    position: absolute;
    height: 50px;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  ul.right-side .back-page span {
    transform: translate(-20%, -45%) rotate(45deg);
  }
  ul.right-side .next-page span {
    transform: translate(-70%, -45%) rotate(-135deg);
  }
}
.home {
  position: absolute;
  width: 90%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.home .main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home .main h1 {
  position: relative;
  font-size: 6rem;
  margin-bottom: 3%;
  color: var(--secondary-color1);
  letter-spacing: 0.5rem;
  opacity: 0;
  animation: name-effect 1s forwards;
  animation-delay: var(--animation-delay);
}
@keyframes name-effect {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.home .main h2 {
  position: relative;
  font-size: 3rem;
  color: var(--word-color);
  letter-spacing: 0.1rem;
  opacity: 0;
  animation: name-effect 1s forwards;
  animation-delay: calc(var(--animation-delay) * 1.3);
}
.home .main .buttonContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.home .main .button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12%;
  width: 30%;
  padding: 2.5% 0;
  color: var(--word-color);
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: name-effect 1s forwards;
  animation-delay: calc(var(--animation-delay) * 1.6);
  transition: 0.1s;
}
.home .main .button .right-arrow {
  content: "";
  position: absolute;
  width: 27%;
  height: 100%;
  background-color: var(--primary-color1);
  border-radius: 100px;
  left: 50%;
  transform: translateX(50%);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), width 0.5s cubic-bezier(0, 1.64, 0.27, 0.82), left 0.4s;
}
.home .main .button span {
  transition: 1.2s;
  color: var(--word-color);
  transform: translateY(0) scale(1);
}
.home .main .button:hover {
  transition: 0.5s;
  transition-delay: 0.5s;
  box-shadow: 0 5px 5px var(--background-color1);
}
.home .main .button:hover span {
  position: relative;
  animation: about 1.2s forwards;
}
.home .main .button:hover .right-arrow {
  transition: background-color 0.5s, transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), width 0.6s cubic-bezier(0.45, -0.02, 0.82, 0.73), left 0.3s;
  transform: translateX(-50%);
  background-color: var(--secondary-color1);
  width: 250%;
  left: 0;
}
@keyframes about {
  25% {
    transform: translateY(-200%);
  }
  26% {
    transform: translateY(200%);
    opacity: 0;
  }
  55%, 60% {
    transform: translateY(0);
    color: var(--background-color1);
  }
  80% {
    transform: translateY(0) scale(1.2);
  }
  81% {
    color: var(--background-color1);
  }
  100% {
    transform: translateY(0) scale(1);
    color: var(--background-color1);
  }
}

@media (max-width: 460px) {
  .home .main h1 {
    font-size: 3.5rem;
    margin-bottom: 5%;
  }
  .home .main h2 {
    font-size: 1.9rem;
  }
}
@media (max-width: 350px) {
  .home .main .buttonContainer .button {
    width: 50%;
    padding: 5% 0;
  }
}
.wave-up::before, .wave-down::before, .nav-top .top-side li .page span:not(.link-width) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio .main .file .github {
  box-shadow: 1px 1px 10px var(--background-color1);
}

.about .main .table .inside1 span:nth-child(3) .line-effect, .about .main .table .inside1 span:nth-child(2) .line-effect, .about .main .table .inside1 span:nth-child(1) .line-effect {
  content: "";
  position: absolute;
}

.about {
  position: absolute;
  width: 90%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.about .main {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: 3%;
}
.about .main .table {
  display: flex;
}
.about .main .table p {
  font-size: 2rem;
  margin-bottom: 8%;
}
.about .main .table .inside1 {
  font-weight: bold;
}
.about .main .table .inside1 span {
  display: block;
  position: relative;
  overflow: hidden;
}
.about .main .table .inside1 span span.line-effect {
  animation-timing-function: cubic-bezier(0.2, 1, 0.1, 1);
}
.about .main .table .inside1 span:nth-child(3) .line-effect, .about .main .table .inside1 span:nth-child(2) .line-effect, .about .main .table .inside1 span:nth-child(1) .line-effect {
  inset: 0;
  margin: auto;
  width: 100%;
  height: 85%;
  background-color: var(--background-color1);
}
@keyframes word-effect {
  0% {
    transform: translateX(105%);
  }
  40%, 60% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-105%);
  }
}
@keyframes word-appear-effect {
  49% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}
.about .main .table .inside1 span:nth-child(1) .line-effect {
  transform: translateX(105%);
  animation: word-effect 1s ease forwards;
  animation-delay: var(--animation-delay);
}
.about .main .table .inside1 span:nth-child(1) p {
  animation-delay: var(--animation-delay);
}
.about .main .table .inside1 span:nth-child(2) .line-effect {
  transform: translateX(-105%);
  animation: word-effect2 1s ease forwards;
  animation-delay: calc(var(--animation-delay) * 1.3);
}
.about .main .table .inside1 span:nth-child(2) p {
  animation-delay: calc(var(--animation-delay) * 1.3);
}
@keyframes word-effect2 {
  0% {
    transform: translateX(-105%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(105%);
  }
}
.about .main .table .inside1 span:nth-child(3) .line-effect {
  transform: translateX(105%);
  animation: word-effect 1s ease forwards;
  animation-delay: calc(var(--animation-delay) * 1.6);
}
.about .main .table .inside1 span:nth-child(3) p {
  animation-delay: calc(var(--animation-delay) * 1.6);
}
.about .main .table .inside1 span p {
  opacity: 0;
  animation: word-appear-effect 1s ease forwards;
  animation-delay: var(--animation-delay);
  z-index: -1;
}
.about .main .table .inside2 {
  margin-left: 5%;
  font-weight: bold;
}
.about .main .table .inside2 p {
  margin-bottom: 6%;
  color: var(--secondary-color1);
}
@keyframes word-effect3 {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.about .main .table .inside2 p:nth-child(1) {
  opacity: 0;
  animation: word-effect3 1s forwards;
  animation-delay: calc(var(--animation-delay) * 1.5);
}
.about .main .table .inside2 p:nth-child(2) {
  opacity: 0;
  animation: word-effect3 1s forwards;
  animation-delay: calc(var(--animation-delay) * 1.7);
}
.about .main .table .inside2 p:nth-child(3) {
  opacity: 0;
  animation: word-effect3 1s forwards;
  animation-delay: calc(var(--animation-delay) * 1.9);
}
.about .main p {
  font-size: 1.5rem;
  color: var(--word-color);
  letter-spacing: 0.1rem;
  line-height: 3rem;
}
.about .main .description {
  margin-top: 5%;
  animation: p-effect 1s forwards;
  animation-delay: calc(var(--animation-delay) * 2.2);
  opacity: 0;
}
@keyframes p-effect {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 850px) {
  .about.content .main {
    width: auto;
    margin: 50px 5% 0;
  }
  .about.content .main .table p {
    font-size: 2.4rem;
  }
}
.wave-up::before, .wave-down::before, .nav-top .top-side li .page span:not(.link-width) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio .main .file .github {
  box-shadow: 1px 1px 10px var(--background-color1);
}

.about .main .table .inside1 span:nth-child(1) .line-effect, .about .main .table .inside1 span:nth-child(2) .line-effect, .about .main .table .inside1 span:nth-child(3) .line-effect {
  content: "";
  position: absolute;
}

.experience {
  position: absolute;
  width: 90%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.experience .title {
  top: 70%;
}
.experience .line::before {
  height: 25%;
}
.experience .main {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 2rem;
}
.experience .main .table {
  display: flex;
}
.experience .main .table:nth-child(1) .inside1 .backColor {
  animation-delay: calc(0s + var(--animation-delay));
}
.experience .main .table:nth-child(1) .inside1 .backColor p {
  animation-delay: calc(calc(0s + var(--animation-delay)) + 0.8s);
}
.experience .main .table:nth-child(1) .inside2 .year {
  animation-delay: calc(calc(calc(0s + var(--animation-delay)) + 0.8s));
}
.experience .main .table:nth-child(1) .inside2 .job,
.experience .main .table:nth-child(1) .inside2 .school {
  animation-delay: calc(calc(calc(calc(0s + var(--animation-delay)) + 0.8s)) + 0.3s);
}
.experience .main .table:nth-child(1) .inside2 .description {
  animation-delay: calc(calc(calc(calc(calc(0s + var(--animation-delay)) + 0.8s)) + 0.3s) + 0.3s);
}
.experience .main .table:nth-child(2) .inside1 .backColor {
  animation-delay: calc(0.3s + var(--animation-delay));
}
.experience .main .table:nth-child(2) .inside1 .backColor p {
  animation-delay: calc(calc(0.3s + var(--animation-delay)) + 0.8s);
}
.experience .main .table:nth-child(2) .inside2 .year {
  animation-delay: calc(calc(calc(0.3s + var(--animation-delay)) + 0.8s));
}
.experience .main .table:nth-child(2) .inside2 .job,
.experience .main .table:nth-child(2) .inside2 .school {
  animation-delay: calc(calc(calc(calc(0.3s + var(--animation-delay)) + 0.8s)) + 0.3s);
}
.experience .main .table:nth-child(2) .inside2 .description {
  animation-delay: calc(calc(calc(calc(calc(0.3s + var(--animation-delay)) + 0.8s)) + 0.3s) + 0.3s);
}
.experience .main .table .inside1 {
  font-weight: bold;
  white-space: nowrap;
}
.experience .main .table .inside1 .backColor {
  position: relative;
  animation: backColor 1s forwards;
  animation-timing-function: cubic-bezier(1, 0.11, 0.3, 0.91);
  transform: translateX(-100%) scaleY(0);
  opacity: 0;
}
.experience .main .table .inside1 .backColor::before {
  z-index: -1;
  content: "";
  height: 120%;
  width: 120%;
  position: absolute;
  left: 50%;
  transform: translateX(-80%);
  top: -20%;
  background-color: var(--primary-color1);
}
.experience .main .table .inside1 .backColor p {
  animation: title-appear 0.5s forwards;
  animation-timing-function: cubic-bezier(0.98, 0.14, 0.38, 1.29);
  opacity: 0;
  transform: translateY(-100%);
}
@keyframes title-appear {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes backColor {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scaleY(1);
  }
}
.experience .main .table .inside1 p {
  filter: drop-shadow(1px 1px 5px black);
  color: var(--word-color);
}
.experience .main .table .inside2 {
  margin-left: 5%;
  font-weight: bold;
}
.experience .main .table .inside2 p {
  margin-bottom: 1%;
}
.experience .main .table .inside2 .description {
  margin-top: 4%;
  font-weight: 300;
  font-size: 1.5rem;
}
.experience .main .table .inside2 .year,
.experience .main .table .inside2 .job,
.experience .main .table .inside2 .school {
  position: relative;
  transform: translateX(20%);
  animation: year 1s forwards;
  animation-timing-function: cubic-bezier(0.41, 0.24, 0.3, 1.2);
  opacity: 0;
}
@keyframes year {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.experience .main .table .inside2 .description {
  position: relative;
  transform: translateY(50%);
  animation: descriptionE 1s forwards;
  animation-timing-function: cubic-bezier(0.94, 0.1, 0.3, 0.92);
  opacity: 0;
}
@keyframes descriptionE {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.experience .main .table:last-child {
  margin-top: 10%;
}
.experience .main p {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}
.experience .main p:not(.secondary-color) {
  color: var(--word-color);
}

@media (max-width: 850px) {
  .experience .title {
    top: 0;
  }
  .experience.content .main {
    margin-left: 0;
    padding-top: 0;
  }
  .experience.content .main .table {
    flex-direction: column;
  }
  .experience.content .main .table .inside1 {
    text-align: center;
    margin: 0 0 8%;
  }
  .experience.content .main .table .inside1 p {
    font-size: 2.8rem;
  }
  .experience.content .main .table .inside2 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0;
    padding-bottom: 5%;
    margin: 0 min(10%, 8vw);
  }
  .experience.content .main .table:nth-child(2) .inside1 .backColor {
    transform: translateX(100%);
  }
  .experience.content .main .table:nth-child(2) .inside1 .backColor::before {
    transform: translateX(-20%);
  }
}
.skill {
  position: absolute;
  width: 90%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.skill .main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill .main .blur,
.skill .main .arrows {
  z-index: -10;
  position: absolute;
  width: 60%;
  height: 100%;
  inset: 0;
  margin: auto;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skill .main .blur {
  width: 58%;
}
.skill .main .blur.active {
  z-index: 100;
  transition: opacity 0.5s;
  transition-delay: 0.3s;
  opacity: 1;
}
.skill .main .blur.active::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 150%;
  height: 100%;
  opacity: 0.8;
  background-color: var(--background-color2);
}
.skill .main .arrows .left-arrow,
.skill .main .arrows .right-arrow {
  position: relative;
  z-index: 1;
  width: max(40px, 8%);
  padding-bottom: max(40px, 8%);
  margin: 0 5%;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  border-radius: 50%;
}
.skill .main .arrows .left-arrow::before,
.skill .main .arrows .right-arrow::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  inset: 0;
  margin: auto;
  border-radius: 50%;
  border: solid 1px var(--light-color);
  background-color: var(--background-color2);
  filter: blur(1px);
  transition: 0.5s;
}
.skill .main .arrows .left-arrow .minus,
.skill .main .arrows .left-arrow .plus,
.skill .main .arrows .right-arrow .minus,
.skill .main .arrows .right-arrow .plus {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  margin: auto;
}
.skill .main .arrows .left-arrow .minus::before,
.skill .main .arrows .left-arrow .plus::before,
.skill .main .arrows .right-arrow .minus::before,
.skill .main .arrows .right-arrow .plus::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  inset: 0;
  margin: auto;
  background-color: var(--light-color);
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.67, 0.13, 0.3, 0.85);
}
.skill .main .arrows .left-arrow .plus::after,
.skill .main .arrows .right-arrow .plus::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 30%;
  inset: 0;
  margin: auto;
  background-color: var(--light-color);
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.67, 0.13, 0.3, 0.85);
}
.skill .main .arrows .left-arrow {
  transform: translateX(200%);
}
.skill .main .arrows .right-arrow {
  transform: translateX(-200%);
}
.skill .main .arrows.active {
  z-index: 109;
  transition: z-index 0.5s step-end;
  transition-delay: 0.3s;
  opacity: 1;
}
.skill .main .arrows.active .left-arrow,
.skill .main .arrows.active .right-arrow {
  transition: 0.5s;
  transition-delay: 0.6s;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  overflow: hidden;
}
.skill .main .arrows.active .left-arrow.wave-effect::after,
.skill .main .arrows.active .right-arrow.wave-effect::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 60%;
  inset: 0;
  margin: auto;
  border-radius: 50%;
  border: solid 1px var(--light-color);
  filter: blur(1px);
  transition: 0.5s;
  animation: wave-arrows 0.5s;
}
@keyframes wave-arrows {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
.skill .main .arrows.active .left-arrow:hover::before,
.skill .main .arrows.active .right-arrow:hover::before {
  width: 60%;
  height: 60%;
}
.skill .main .arrows.active .left-arrow:hover .minus::before,
.skill .main .arrows.active .right-arrow:hover .minus::before {
  transform: rotate(360deg) scale(0.8);
}
.skill .main .arrows.active .left-arrow:hover .plus::before,
.skill .main .arrows.active .right-arrow:hover .plus::before {
  transform: rotate(270deg) scale(0.8);
}
.skill .main .arrows.active .left-arrow:hover .plus::after,
.skill .main .arrows.active .right-arrow:hover .plus::after {
  transform: rotate(270deg) scale(0.8);
}
.skill .main ul {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 72%;
  display: grid;
  grid-template-columns: repeat(2, 25%);
  grid-template-rows: repeat(4, 25%);
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  gap: 0 5%;
}
.skill .main ul li {
  z-index: -1;
  box-sizing: border-box;
  width: 100%;
  height: 60%;
  padding: 5%;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--word-color);
  transition: transform 0.3s;
}
.skill .main ul li .info p:nth-child(1) {
  font-size: 2rem;
}
.skill .main ul li .description {
  position: relative;
  width: auto;
  height: 60%;
  margin-top: 5%;
  animation-delay: 0.5s;
}
.skill .main ul li .description .study-duration {
  margin-bottom: 6%;
}
.skill .main ul li .description p:not(.sentence) {
  font-size: 1.5rem;
}
.skill .main ul li .description .sentence {
  margin-top: 2%;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 2.4rem;
}
.skill .main ul li.active {
  animation: z-index 0.3s linear forwards;
}
@keyframes z-index {
  100% {
    z-index: 101;
  }
}
.skill .main ul li.active .card-shown {
  opacity: 0;
  transform: scale(1) translateX(10%);
}
.skill .main ul li.active .info {
  transform: translate(-50%, -50%);
  transition: opacity 0.3s, transform 0.3s;
  transition-delay: 0.3s;
  opacity: 1;
  visibility: visible;
}
.skill .main ul li .bar {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 3%;
  border-radius: 10px;
  background-color: var(--background-color3);
  margin-top: 5%;
}
.skill .main ul li .bar::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--secondary-color1);
  animation: bar-effect 1s ease-in-out forwards;
  animation-delay: var(--animation-delay);
  animation-timing-function: cubic-bezier(0.45, -0.02, 0.48, 1.15);
}
@keyframes bar-effect {
  0% {
    width: 0;
  }
  90% {
    width: calc(var(--percentage) + 5%);
  }
  100% {
    width: var(--percentage);
  }
}
.skill .main ul li .bar.accent-color::before {
  background-color: var(--accent-color1);
}
.skill .main ul li:nth-child(3) .info::before {
  background-color: rgb(30, 102, 246);
}
.skill .main ul li:nth-child(3) .card-shown::before {
  background-color: rgb(30, 102, 246);
}
.skill .main ul li:nth-child(4) .info::before {
  background-color: rgb(30, 102, 246);
}
.skill .main ul li:nth-child(4) .card-shown::before {
  background-color: rgb(30, 102, 246);
}
.skill .main ul li:nth-child(5) .info::before {
  background-color: rgb(249, 79, 247);
}
.skill .main ul li:nth-child(5) .card-shown::before {
  background-color: rgb(249, 79, 247);
}
.skill .main ul li:nth-child(6) .info::before {
  background-color: gold;
}
.skill .main ul li:nth-child(6) .card-shown::before {
  background-color: gold;
}
.skill .main ul li:nth-child(7) .info::before {
  background-color: rgb(55, 202, 251);
}
.skill .main ul li:nth-child(7) .card-shown::before {
  background-color: rgb(55, 202, 251);
}
.skill .main ul li:nth-child(8) .info::before {
  background-color: rgb(55, 202, 251);
}
.skill .main ul li:nth-child(8) .card-shown::before {
  background-color: rgb(55, 202, 251);
}
.skill .main ul li:nth-child(9) .info::before {
  background-color: var(--primary-color1);
}
.skill .main ul li:nth-child(9) .card-shown::before {
  background-color: var(--primary-color1);
}
.skill .main ul li:not(.active) .card-shown:hover {
  transform: scale(1.1);
}
.skill .main ul li .card-shown {
  position: relative;
  box-shadow: 1px 1px 5px var(--background-color1);
  background-color: var(--background-color2);
  border-radius: 0 0 1rem 0;
  width: auto;
  height: 100%;
  left: 0;
  top: 0;
  padding: 5% 5% 7% 10%;
  opacity: 1;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateX(0);
  cursor: pointer;
  overflow: hidden;
}
.skill .main ul li .card-shown::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: clamp(5px, 0.5vw, 10px);
  height: 100%;
}
.skill .main ul li .info {
  position: absolute;
  width: 35%;
  height: auto;
  padding: 2%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px var(--background-color1);
  box-shadow: 1px 1px 5px var(--background-color1);
  background-color: var(--background-color2);
  border-radius: 0 0 1rem 0;
  transition: transform 0.5s;
  overflow: hidden;
  font-size: 2rem;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -40%);
}
.skill .main ul li .info::before {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  content: "";
  width: clamp(5px, 0.5vw, 10px);
  height: 100%;
}

@media (max-width: 850px) {
  .skill.content {
    overflow: hidden;
    height: auto;
  }
  .skill.content .main {
    height: 100%;
    align-items: flex-start;
    padding-top: 0;
  }
  .skill.content .main .blur {
    width: 100%;
    height: 100%;
    top: 0;
  }
  .skill.content .main .arrows {
    width: 100%;
    max-width: 600px;
  }
  .skill.content .main .arrows .arrow {
    margin: 0 -2%;
  }
  .skill.content .main ul {
    position: relative;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(4, clamp(60px, 15vw, 110px));
    top: 5%;
    transform: translateY(0);
  }
  .skill.content .main ul .info {
    width: 80%;
    max-width: 400px;
    padding: 20px;
  }
}
@media (max-width: 500px) {
  .skill.content .main ul {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .skill.content .main ul .card-shown {
    font-size: 2rem;
  }
  .skill.content .main ul li .description p:not(.sentence) {
    font-size: 1.8rem;
  }
  .skill.content .main ul li .description .sentence {
    font-size: 1.5rem;
    line-height: 2.8rem;
  }
}
.wave-up::before, .wave-down::before, .nav-top .top-side li .page span:not(.link-width) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio .main .file .github {
  box-shadow: 1px 1px 10px var(--background-color1);
}

.about .main .table .inside1 span:nth-child(1) .line-effect, .about .main .table .inside1 span:nth-child(2) .line-effect, .about .main .table .inside1 span:nth-child(3) .line-effect {
  content: "";
  position: absolute;
}

.portfolio {
  position: absolute;
  width: 90%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.portfolio .title {
  top: 60%;
}
.portfolio .line::before {
  height: 28%;
}
.portfolio .main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio .main .file {
  position: relative;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*.img:hover + .under-line {
  	height: 10%;
  }
  */
}
.portfolio .main .file.product-2 .img::before, .portfolio .main .file.product-1 .img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
}
.portfolio .main .file.product-1 .img::before {
  background-image: url("/src/images/Movight.png");
}
.portfolio .main .file.product-2 {
  flex-direction: column-reverse;
}
.portfolio .main .file.product-2 .img {
  filter: grayscale(100);
  transition: filter 0.5s;
}
.portfolio .main .file.product-2 .img:hover {
  filter: grayscale(0);
}
.portfolio .main .file.product-2 .img::before {
  background-image: url("/src/images/Minesweeper.png");
}
.portfolio .main .file .img {
  position: relative;
  display: block;
  width: 70%;
  padding-bottom: 70%;
  border-radius: 2%;
  box-shadow: 3px 3px 10px var(--background-color1);
  cursor: pointer;
  overflow: hidden;
  animation: img 1s forwards;
  animation-timing-function: cubic-bezier(0.74, 0.22, 0.19, 0.92);
  transform: scale(0);
  opacity: 0;
}
@keyframes img {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.portfolio .main .file .img .product-title {
  position: absolute;
  left: 0;
  width: 90%;
  padding: 5% 0;
  text-align: center;
  border-radius: 5px;
  top: 5%;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--word-color);
  background-color: var(--background-color1);
  transition: transform 0.5s, left 0.5s cubic-bezier(0.62, 0.16, 0.07, 1.44);
  transform: translateX(-95%);
}
.portfolio .main .file .img:hover .product-title {
  left: 50%;
  transform: translateX(-50%);
}
.portfolio .main .file .img:hover::before {
  transform: scale(1.1);
}
.portfolio .main .file .img::before {
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1);
  transition: 0.3s;
}
.portfolio .main .file .under-line {
  position: relative;
  width: 72%;
  height: 0.5%;
  background-color: var(--primary-color1);
  margin: 4% 0;
  animation: under-line 1s forwards;
  animation-timing-function: cubic-bezier(0.66, 0.14, 0, 0.94);
  transform: scaleX(0);
  opacity: 0;
}
.portfolio .main .file .under-line p {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  color: var(--word-color);
  font-weight: bold;
  font-size: 1.5rem;
  white-space: nowrap;
}
@keyframes under-line {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
.portfolio .main .file:nth-child(1) {
  animation: file-appear 1s forwards;
  animation-timing-function: cubic-bezier(0.67, 0.22, 0.15, 0.88);
  transform: translateY(-10%);
  animation-delay: calc(calc(0s + var(--animation-delay)) - 0.2s);
}
.portfolio .main .file:nth-child(1) .img {
  animation-delay: calc(calc(0s + var(--animation-delay)) + 0.3s);
}
.portfolio .main .file:nth-child(1) .under-line {
  animation-delay: calc(0s + var(--animation-delay));
}
.portfolio .main .file:nth-child(1) .under-line {
  transform-origin: right;
}
.portfolio .main .file:nth-child(1) .github {
  transform: translateX(-120%);
  animation-delay: calc(calc(0s + var(--animation-delay)) + 0.2s);
}
@keyframes file-appear {
  100% {
    transform: translateY(0);
  }
}
.portfolio .main .file:nth-child(2) {
  animation: file-appear 1s forwards;
  animation-timing-function: cubic-bezier(0.67, 0.22, 0.15, 0.88);
  transform: translateY(10%);
  animation-delay: calc(calc(0.2s + var(--animation-delay)) - 0.2s);
}
.portfolio .main .file:nth-child(2) .img {
  animation-delay: calc(calc(0.2s + var(--animation-delay)) + 0.3s);
}
.portfolio .main .file:nth-child(2) .under-line {
  animation-delay: calc(0.2s + var(--animation-delay));
}
.portfolio .main .file:nth-child(2) .under-line {
  transform-origin: left;
}
.portfolio .main .file:nth-child(2) .github {
  transform: translateX(120%);
  animation-delay: calc(calc(0.2s + var(--animation-delay)) + 0.2s);
}
@keyframes file-appear {
  100% {
    transform: translateY(0);
  }
}
.portfolio .main .file .github {
  position: relative;
  margin: 3% 0;
  width: 12%;
  padding-bottom: 12%;
  transition: 0.5s;
  border-radius: 50%;
  animation: github-appear 1.8s forwards;
  background-color: var(--secondary-color1);
  animation-timing-function: cubic-bezier(0.93, -0.01, 0.13, 1.02);
  opacity: 0;
}
.portfolio .main .file .github .icon {
  position: absolute;
  width: 80%;
  height: 80%;
  display: block;
  inset: 0;
  margin: auto;
  border-radius: 50%;
  background-image: url("/src/images/github_icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--secondary-color1);
  transition: 0.3s;
}
.portfolio .main .file .github::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border: solid 1px var(--light-color);
  border-radius: 50%;
  transform: scale(1.1);
  filter: blur(1px);
  opacity: 0;
}
@keyframes github-appear {
  0%, 30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.portfolio .main .file .github:hover {
  background-color: var(--primary-color1);
}
.portfolio .main .file .github:hover .icon {
  transform: scale(1.1);
}
.portfolio .main .file .github:hover::before {
  animation: github 1s infinite;
}
@keyframes github {
  0% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@media (max-width: 850px) {
  .portfolio .title {
    top: 0;
  }
  .portfolio.content .main {
    flex-direction: column;
  }
  .portfolio.content .main .file {
    width: min(70%, 400px);
    margin-bottom: 10%;
  }
  .portfolio.content .main .file.product-2 {
    flex-direction: column;
  }
  .portfolio.content .main .file .under-line {
    height: 4px;
  }
}
.wave-up::before, .wave-down::before, .nav-top .top-side li .page span:not(.link-width) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio .main .file .github {
  box-shadow: 1px 1px 10px var(--background-color1);
}

.about .main .table .inside1 span:nth-child(1) .line-effect, .about .main .table .inside1 span:nth-child(2) .line-effect, .about .main .table .inside1 span:nth-child(3) .line-effect {
  content: "";
  position: absolute;
}

.background.active.back-2::after, .background.active.back-2::before, .background.active.back-1::after, .background.active.back-1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 110%;
  inset: 0;
  margin: auto;
}

.background {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100;
  overflow: hidden;
  z-index: -100;
  animation-timing-function: cubic-bezier(0.31, 0.09, 0.51, 0.86);
}
.background.active {
  z-index: 200;
}
.background.active.back-1::before, .background.active.back-1::after {
  animation: back-1 2s forwards;
  left: -200%;
}
.background.active.back-1::before {
  background-color: var(--primary-color1);
}
.background.active.back-1::after {
  background-color: var(--background-color1);
  animation-delay: 0.05s;
}
@keyframes back-1 {
  0% {
    left: -200%;
  }
  20%, 30% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
.background.active.back-2::before, .background.active.back-2::after {
  animation: back-2 2s forwards;
  left: 200%;
}
.background.active.back-2::before {
  background-color: var(--primary-color1);
}
.background.active.back-2::after {
  background-color: var(--background-color1);
  animation-delay: 0.05s;
}
@keyframes back-2 {
  0% {
    left: 100%;
  }
  20%, 30% {
    left: 0;
  }
  100% {
    left: -200%;
  }
}

:root {
  --background-color1: black;
  --background-color2: #1a1a1a;
  --background-color3: #303030;
  --background-color4: rgb(20, 20, 21);
  --light-color: rgb(161, 158, 158);
  --word-color: white;
  --primary-color1: #5d3cde;
  --secondary-color1: #acaaff;
  --accent-color1: #c479ff;
  --animation-delay: 0.7s;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Inter", sans-serif;
  -webkit-appearance: none;
}

.br::before,
.br-work::before {
  content: "\a";
  white-space: pre;
}

.coron::after {
  content: ":";
}

html {
  font-size: clamp(6px, 0.8vw, 24px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color1);
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  margin: auto;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-width {
  position: relative;
  width: 100%;
  max-width: 3840px;
  padding-bottom: min(56.25%, 2160px);
  background-color: var(--background-color2);
}
.main-width .main-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.content {
  animation: content-appear 1s forwards;
  animation-delay: calc(var(--animation-delay) - 0.5s);
  opacity: 0;
}

@keyframes content-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.sColor {
  color: var(--primary-color1);
  background: linear-gradient(to right top, var(--primary-color1), var(--secondary-color1));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.line::after, .line::before {
  position: absolute;
  content: "";
  height: 35%;
  width: 0.2%;
  background-color: var(--primary-color1);
}

.title {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(50%) rotate(-90deg);
  transform-origin: left;
  color: var(--light-color);
  z-index: 110;
  background-color: var(--background-color2);
}
.title h1 {
  font-size: 6rem;
  letter-spacing: 0.5rem;
  font-family: "Inria Serif", serif;
  font-weight: 300;
}

.line {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.line::before {
  left: 5%;
  top: -12.5%;
}
.line::after {
  right: 5%;
  bottom: -12.5%;
}

.secondary-color {
  color: var(--secondary-color1);
  filter: drop-shadow(1px 1px 5px black);
}

p,
h1,
h2 {
  filter: drop-shadow(1px 1px 5px black);
}

@media (max-width: 850px) {
  .coron::after {
    content: "";
  }
  html {
    font-size: clamp(8px, 1.2vw, 16px);
    background-color: var(--background-color2);
  }
  body {
    position: relative;
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .container {
    height: 100%;
    align-items: flex-start;
  }
  .line {
    display: none;
  }
  .title {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    transform: translateY(0) rotate(0deg);
    margin: 0 0 10% 0;
    padding: 1% 0;
  }
  .title::before, .title::after {
    position: absolute;
    content: "";
    width: 80%;
    height: 3px;
    background-color: var(--primary-color1);
  }
  .title::before {
    top: 0;
    left: 0;
  }
  .title::after {
    bottom: 0;
    right: 0;
  }
  .content {
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    overflow: hidden;
    top: 50px;
    left: 0;
    transform: translate(0, 0);
    padding-bottom: 100px;
  }
  .content .main {
    position: relative;
    top: 0;
    margin-top: 50px;
    width: 90%;
    left: 0;
    transform: translate(0, 0);
  }
}
@media (max-width: 500px) {
  .br::before {
    content: "";
    white-space: auto;
  }
  .title h1 {
    font-size: 5rem;
  }
}
@media (max-width: 385px) {
  .br-work::before {
    content: "";
    white-space: auto;
  }
}